/* Borders */
.border-1 {
    border: 1px solid;
}

.border-2 {
    border: 2px solid;
}

.border-3 {
    border: 3px solid;
}

.border-4 {
    border: 4px solid;
}

.border-5 {
    border: 5px solid;
}

/* Border Top */
.border-top-1 {
    border-top: 1px solid;
}

.border-top-2 {
    border-top: 2px solid;
}

.border-top-3 {
    border-top: 3px solid;
}

.border-top-4 {
    border-top: 4px solid;
}

.border-top-5 {
    border-top: 5px solid;
}

/* Border Bottom */
.border-bottom-1 {
    border-bottom: 1px solid;
}

.border-bottom-2 {
    border-bottom: 2px solid;
}

.border-bottom-3 {
    border-bottom: 3px solid;
}

.border-bottom-4 {
    border-bottom: 4px solid;
}

.border-bottom-5 {
    border-bottom: 5px solid;
}

/* Border Left */
.border-left-1 {
    border-left: 1px solid;
}

.border-left-2 {
    border-left: 2px solid;
}

.border-left-3 {
    border-left: 3px solid;
}

.border-left-4 {
    border-left: 4px solid;
}

.border-left-5 {
    border-left: 5px solid;
}

/* Border Right */
.border-right-1 {
    border-right: 1px solid;
}

.border-right-2 {
    border-right: 2px solid;
}

.border-right-3 {
    border-right: 3px solid;
}

.border-right-4 {
    border-right: 4px solid;
}

.border-right-5 {
    border-right: 5px solid;
}

/* Border Y */
.border-y-1 {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.border-y-2 {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.border-y-3 {
    border-top: 3px solid;
    border-bottom: 3px solid;
}

.border-y-4 {
    border-top: 4px solid;
    border-bottom: 4px solid;
}

.border-y-5 {
    border-top: 5px solid;
    border-bottom: 5px solid;
}

/* Border X */
.border-x-1 {
    border-left: 1px solid;
    border-right: 1px solid;
}

.border-x-2 {
    border-left: 2px solid;
    border-right: 2px solid;
}

.border-x-3 {
    border-left: 3px solid;
    border-right: 3px solid;
}

.border-x-4 {
    border-left: 4px solid;
    border-right: 4px solid;
}

.border-x-5 {
    border-left: 5px solid;
    border-right: 5px solid;
}

/* Radius */
.border-radius-1 {
    border-radius: var(--space-1);
}

.border-radius-2 {
    border-radius: var(--space-2);
}

.border-radius-3 {
    border-radius: var(--space-3);
}

.border-radius-4 {
    border-radius: var(--space-4);
}

.border-radius-5 {
    border-radius: var(--space-5);
}

.border-radius-6 {
    border-radius: var(--space-6);
}

.border-radius-7 {
    border-radius: var(--space-7);
}

.border-radius-8 {
    border-radius: var(--space-8);
}

.border-radius-10 {
    border-radius: var(--space-10);
}

.border-radius-12 {
    border-radius: var(--space-12);
}

.border-radius-16 {
    border-radius: var(--space-16);
}

.border-radius-50 {
    border-radius: 50%;
}
