/* Base */
.navDesktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--transparent);
    transition: background-color 0.3s ease;
    z-index: 999;
    max-width: var(--breakpoint-3xl);
    margin: auto;
    display: flex;
    align-items: center;
    height: 5%;
}

.navScrolled {
    background-color: var(--background);
}

@media (max-width: 768px) {
    .navDesktop {
        display: none;
    }
}
