.container-base {
    width: 100%;
}

.container-sm {
    max-width: var(--breakpoint-sm);
    margin: auto;
}

.container-md {
    max-width: var(--breakpoint-md);
    margin: auto;
}

.container-lg {
    max-width: var(--breakpoint-lg);
    margin: auto;
}

.container-xl {
    max-width: var(--breakpoint-xl);
    margin: auto;
}

.container-2xl {
    max-width: var(--breakpoint-2xl);
    margin: auto;
}
