/* Container preset */
.container {
    width: 100%;
    background-color: var(--background);
    color: var(--text-primary);
}

.container-sm {
    max-width: var(--breakpoint-sm);
    margin: auto;
}

.container-md {
    max-width: var(--breakpoint-md);
    margin: auto;
}

.container-lg {
    max-width: var(--breakpoint-lg);
    margin: auto;
}

.container-xl {
    max-width: var(--breakpoint-xl);
    margin: auto;
}

.container-2xl {
    max-width: var(--breakpoint-2xl);
    margin: auto;
}

/* Backgrounds */
.light {
    background-color: var(--white);
    color: var(--gray-900);
}

.dark {
    background-color: var(--gray-900);
    color: var(--text-inverse);
}

.primary {
    background-color: var(--primary-500);
    color: var(--text-inverse);
}

.success {
    background-color: var(--success-500);
    color: var(--text-inverse);
}

.warning {
    background-color: var(--warning-500);
    color: var(--text-inverse);
}

.error {
    background-color: var(--error-500);
    color: var(--text-inverse);
}

.info {
    background-color: var(--info-500);
    color: var(--text-inverse);
}
