/* Base */
.formInput {
    width: 100%;
    font-size: var(--text-base);
    padding: var(--space-3);
    border: 1px solid var(--white);
    border-radius: var(--space-1);
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 2px var(--black);
    color: inherit;
}

.iconContainer {
    position: relative;
}

.inputIcon {
    position: absolute;
    top: 8px;
    font-size: var(--text-2xl);
}

.inputIconStart {
    left: var(--space-2);
}

.inputIconStart + .formInput {
    padding-left: var(--space-12);
}

.inputIconEnd {
    right: var(--space-2);
}
