/* Base */
.formContainer {
    position: relative;
    margin: 2rem;
    width: 250px;
    border: 1px solid white;
}

.formInput {
    font-size: 16px;
    padding: 18px 14px 6px;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
    width: 100%;
    transition: border-color 0.3s;
    background-color: transparent;
}

.formInput:focus {
    border-color: white;
}

.formLabel {
    position: absolute;
    top: 10px;
    left: 14px;
    background-color: transparent;
    color: black;
    font-size: 16px;
    transition: all 0.2s ease;
    pointer-events: none;
    padding: 0 4px;
}

.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) + .formLabel {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: black;
    background-color: white;
}
