/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-sans);
    font-size: var(--text-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

html::selection,
body::selection {
    background: var(--primary-600);
}

/* List */
li {
    list-style: none;
}

/* Links */
a {
    text-decoration: none;
}
