/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-sans);
    font-size: var(--text-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

/* Headings */
h1 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
}

h2 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-semibold);
}

h3 {
    font-size: var(--text-2xl);
}

p {
    font-size: var(--text-base);
    line-height: var(--line-height-normal);
}

/* List */
li {
    list-style: none;
}

/* Links */
a {
    text-decoration: none;
}
